* {
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}
header {
 display: flex;
 flex-direction: column;

}
#logo {
    height: 200px;
    width: 200px;
}
.cart {
    height: 30px;
    width: 30px;
    backface-visibility: hidden;
    background-color: transparent;
    border-radius: 50px;
    margin-top: -15px;
}

nav {
    background-color: rgba(234, 234, 248, 0.885);
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    
}

.anchors {
    color:rgb(145, 149, 156);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 300px;
    padding-top: 20px;
    font-weight: bold;
    font-size: 20px;
    font-family: fantasy;
}

h1 {
    color: rgb(145, 149, 156);
    font-family: fantasy;
    padding-top: 10px;
    padding-left: 10px;
}

body {
    background-color: whitesmoke;
}
.links {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.link-section {
    background-color: rgba(234, 234, 248, 0.885);
}

p {
    font-size: 20px;
    font-family: fantasy;
}
.about {
    margin-left: 10px;
    margin-right: 10px;
}

.deal-image {
    height: 200px;
    width: 200px;
    border: 3px solid rgb(223, 187, 95);
    box-shadow: 3px 3px 3px gold;

}

#deal-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(133, 53, 53);
}

.deal-div {
    display: flex;
    flex-direction: column;
    background-color: whitesmoke;
    border: 3px solid black;
    padding: 10px;
    align-items: center;
    margin-top: 5px;
    margin-bottom: 5px;
    border-radius: 15px;

}
.buy-btn {
    border-radius: 30px;
    height: 30px;
    width: 150px;
    background-color: rgb(223, 187, 95);
    font-size: 20px;
    color: rgb(133, 53, 53);
}
.title {
    font-weight: bolder;
    font-size: 40px;
    font-family: fantasy;
    background-color: gold;
    color: rgb(133, 53, 53);
    padding-top: 10px;
}

footer {
 background-color: rgba(234, 234, 248, 0.885);   
}

#email-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 500px;
    float: right;
    margin-top: -150px;


}
.email-title {
    font-size: 30px;
    font-weight: bold;
    font-family: fantasy;
}

label {
    font-size: 20px;
    font-family: fantasy;
}
 .email-parent {
    display: flex;
    flex-direction: row;
    width: 470px;
    justify-content: space-around;
    margin-top: -20px;

 }

 .checkbox {
   height: 20px;
   width: 20px;
 }

 .email-input {
    width: 200px;
    border-radius: 20px;
 }

 .email-btn {
    height: 40px;
    width: 100px;
    border-radius: 20px;
    margin-top: 20px;
 }